<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <!-- 콘솔 출력용 STDOUT 애펜더 정의 -->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <!-- 로그 출력 포맷 설정 -->
            <pattern>%d{yyyyMMdd HH:mm:ss.SSS} [%thread] %-5level %logger{35} - %msg%n</pattern>
        </encoder>
    </appender>
    
<!--     파일 저장용 FILE 애펜더 정의     -->
    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
	    <file>../../logs/moodtracker.log</file>
	    <encoder>
            <pattern>%d{yyyyMMdd HH:mm:ss.SSS} [%thread] %-5level %logger{35} - %msg%n</pattern>
	    </encoder>
	    <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
	        <fileNamePattern>%d{yyyy-MM-dd}.log</fileNamePattern>
	        <maxHistory>30</maxHistory> 
	        <totalSizeCap>3GB</totalSizeCap> 
	    </rollingPolicy>
	</appender>

    <!-- 루트 로거 설정 -->
    <root level="INFO">
        <appender-ref ref="STDOUT" />
        <appender-ref ref="FILE" />
    </root>

    <!-- Hibernate 로거 설정 -->
    <logger name="org.hibernate.SQL" level="DEBUG" additivity="false">
        <appender-ref ref="STDOUT" />
        <appender-ref ref="FILE" />
    </logger>
    
    <!-- Hibernate Parameter Binding 로거 설정 -->
    <logger name="org.hibernate.orm.jdbc.bind" level="TRACE" additivity="false">
    	<appender-ref ref="STDOUT" />
 	    <appender-ref ref="FILE" />
    </logger>

</configuration>